.input{
    background-color:#D0D5F8;
    max-width: 300px;
    /*margin: 0 auto;
    padding: 20px;*/
    border-radius: 8px;
    height: 700px;
}

.general-information{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    /*background-color: blue;*/
    border-radius: 8px;
    padding: 8px;
}

.general-information input, .about-self input, .educational-experience input, .practical-experience input{
    font-size: 1rem;
    width: 98%;
    height: 32px;
    border-radius: 6px;
    margin-bottom: 4px;
}

.general-information p{
    font-size: 1.2rem;
    margin-bottom: 0;
}

.about-self input{
    font-size: 2rem;
    border-radius: 6px;
}

.about-self p{
    font-size: 1.2rem;
    margin-bottom: 0;
}

.educational-experience{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    /*background-color: blue;*/
    border-radius: 8px;
    padding: 8px;
    margin-top: 5px;
}


.educational-experience p{
    font-size: 1.2rem;
    margin-bottom: 0;
}

.practical-experience{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    /*background-color: blue;*/
    border-radius: 8px;
    padding: 8px;
    margin-top: 5px;
}



.practical-experience p{
    font-size: 1.2rem;
    margin-bottom: 0;
}

.skills{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*background-color: blue;*/
    padding-bottom: 7px;
    border-radius: 8px;
    margin-top: 20px;
}

.skills button{
    width: 80%;
    height: 3em;
    border-radius: 6px;
    font-size: 18px;
    margin-left: 50px;
}

.hide{
    display: none;
}

.skillAddDiv{
    max-width: 600px;
    border: 4px solid orange;
}

body.blur-background{
    filter: blur(5px);
    pointer-events: none;
}

.skills input{
    height: 25px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.cv-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.cv-template{
    background-color: brown;
    border-radius: 10px;
    width: 800px;
    color: black;
    height: 100vh;
}

.general img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.general{
    display: flex;
    justify-content: left;
}

.details{
    margin-left: 30px;
}

img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.experinceCV{
    display: flex;
    justify-content: flex-start;
}

.job{
    margin-left: 20px;
    font-size: 24px;
    
}
.job-top{
    display: flex;
    justify-content: space-between;
}
.job-top p{
    margin-right: 150px;
    width: 100px;
    
}

.job-bottom{
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}
.job-bottom p {
    margin-right: 150px;
}

.education1{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    max-width: 500px;
}

.education2{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    max-width: 500px;
}


